<!DOCTYPE html>
<html ng-app="phun_app">
<head lang="en">
    <meta charset="UTF-8">
    <title>treeTest</title>
    <link rel="stylesheet" href="../../css/tree.css">
    <link rel="stylesheet" href="../../css/angular-ui-tree.css">
    <!--<link rel="stylesheet" href="../../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">-->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>

    <div ng-controller="treeController as tCl">
        <!-- Nested node template -->
        <div class="row">
            <div class="col-sm-6">
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes ng-model="data">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
    </div>
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script type="text/javascript" src="treeController.js"></script>
    <script type="text/javascript" src="../../app.js"></script>
</body>
</html>